streamlit
streamlit_plotly_events
yfinance
finnhub-python
pandas
datetime
plotly
numpy
scipy
vertexai
prophet==1.1.1
scikit-learn
transformers
chardet
huggingface_hub
torch
streamlit_lottie
holidays==0.18.0